<%= form_with(model: @casting, local: true) do |f| %>

  <%= f.hidden_field :movie_id, value: @movie.id %>

  <div class="form-group">
    <%= f.label :actor_id %>
    <%= f.select :actor_id, options_from_collection_for_select(Actor.all, :id, :to_s, @casting.actor_id), {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :character_name %>
    <%= f.text_field :character_name, class: "form-control" %>
  </div>

  <%= f.submit "Create casting", class: "btn btn-block btn-outline-secondary" %>
<% end %>
