<div class="card mb-3">
  <h2 class="card-header h4">
    Casting #<%= casting.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Movie</dt>
      <dd><%= casting.movie_id %></dd>

      <dt>Actor</dt>
      <dd><%= casting.actor_id %></dd>

      <dt>Character name</dt>
      <dd><%= casting.character_name %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back casting, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_casting_url(casting), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to casting, method: :delete, data: { confirm: "Do you really want to delete this casting?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(casting.updated_at) %> ago
  </div>
</div>
